
/* 自訂css --------------------------------------------------*/
.section-smallpic,
.section-middlepic {
  display: flex;
  justify-content: space-around;
  background-color: #e7eeea;
  margin-bottom: 80px;
}

.section-smallpic h3,
.section-middlepic h3,
.section-bigpic h3 {
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #354e3b;
}
.section-smallpic p,
.section-middlepic p,
.section-bigpic p {
  margin-bottom: 20px;
  font-size: 1rem;
  line-height: 2rem;
  color: #354e3b;
}

.section-smallpic .content-box {
  display: flex;
  justify-content: space-around;
  width: 400px;
  padding: 10px;
}

.section-smallpic .content-box .picture {
  width: 50px;
  height: 50px;
  margin: 0 10px;
}

.section-smallpic .content-box .article {
  margin: 10px 0;
}

.section-middlepic .content-box {
  text-align: center;
  width: 400px;
  padding: 10px;
}

.section-middlepic .content-box .picture {
  margin: 10px 10px;
}

.section-middlepic .content-box .article {
  margin: 10px 0;
}

.section-bigpic {
  background-color: #e7eeea;
}

.section-bigpic li{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.section-bigpic li:nth-child(2n) {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  padding: 20px;
  /* margin-left: 80px; */
}

.section-bigpic .picture {
  margin: 0 10px;
  /* border: 1px solid #354e3b; */
}

.section-bigpic li .article {
  margin: 10px 0;
  padding: 0 60px 0 0;
  /* border: 1px solid #354e3b; */
}

.section-bigpic li:nth-child(2n) .article {
  margin: 10px 0;
  padding: 0 0 0 60px;
  /* border: 1px solid #354e3b; */
}