/* 自訂css --------------------------------------------------*/

.wrapper {
  width: 320px;
  margin: 0 auto;
  color: #829886;
  font-size: 1rem;
}

.wrapper .order-summary,
.wrapper .order-list {
  border: 1px solid #e7eeea;
  margin-bottom: 20px;
}
.order-price,
.order-product {
  margin: 20px;
}

.wrapper h2 {
  color: #829886;
  background-color: #e7eeea;
  text-align: center;
  padding: 30px;
  font-size: 1.5rem;
  font-weight: bolder;
}

.order-price li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.order-price .total,
.product-description .product-price {
  font-size: 1.3rem;
  font-weight: bolder;
}

.order-product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.product-description div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.product-description div h3 {
  margin-right: 10px;
}
