/* 自訂css --------------------------------------------------*/
.wrapper {
  width: 1120px;
  margin: 0 auto;
}
.content {
  display: flex;
  justify-content: space-between;
}

.item {
  width: 550px;
  height: 800px;
  background-color: #e7eeea;
  /* border: 1px solid blueviolet; */
  padding: 20px;
  border-radius: 10px;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #354e3b;
}
.logo {
  align-items: center;
}
.logo img {
  width: 50%;
}

.description h2,
.description h3 {
  margin: 20px 0;
  font-size: 1.8rem;
  font-weight: bold;
}
.description p {
  margin-bottom: 20px;
  font-size: 1.5rem;
  line-height: 2rem;
  color: black;
}
