/* 自訂css --------------------------------------------------*/
.wrapper {
  width: 1000px;
  display: flex;
  justify-content: flex-start;
}
.menu-wrapper {
  background-color: #e7eeea;
  padding: 50px 10px 0px 10px;
}

.menu li {
  margin: 0 auto;
  width: 100px;
  /* border: 1px solid #354e3b; */
}
.menu li a {
  display: block;
  text-decoration: none;
  margin: 20px 0;
  color: #354e3b;
  font-size: 1.5rem;
  font-weight: bold;
}
.menu li a:hover {
  color: #567e5f;
}

.articale {
  padding: 50px 10px 10px 60px;
}
.articale h3 {
  margin-bottom: 20px;
  font-size: 1.8rem;
  font-weight: bold;
  color: #354e3b;
}
.articale p {
  margin-bottom: 20px;
  font-size: 1.5rem;
  line-height: 2rem;
  color: black;
}

.picture {
  display: flex;
  flex-wrap: wrap;
}
.picture li {
  margin: 2px;
}
