
/* 自訂css --------------------------------------------------*/

.wrapper {
  width: 800px;
  margin: 0 auto;
  display: flex;
}

.article {
  background-color: #b3d4d1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px;
}

.article p {
  color: #fff;
  font-size: 1.2rem;
  line-height: 2rem;
  /*border:1px solid #000;*/
}
