/* 自訂css --------------------------------------------------*/

.wrapper {
  width: 1000px;
  margin: 0 auto;
  background-color: #37523d;
  padding: 15px;
}

.header {
  width: 100%;
  background-color: #e7eeea;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-radius: 10px 10px 0px 0px;
}

.header a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #37523d;
  border-bottom: 2px solid #e7eeea;
}

.header a:hover {
  border-bottom: 2px solid #37523d;
}

.layer1-wrapper {
  width: 100%;
  background-color: #fff;
  padding: 50px 10px 20px 10px;
  display: flex;
  justify-content: space-between;
}

.layer1-wrapper img {
  margin: 0 40px;
}
.layer2-wrapper {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #37523d;
}

.article h3 {
  font-size: 1.5rem;
  font-weight: bolder;
  margin-bottom: 20px;
}
.article p {
  font-size: 1rem;
  margin-bottom: 20px;
}

.layer2-wrapper ul {
  display: flex;
}

.layer2-wrapper a {
  font-size: 1rem;
  text-decoration: none;
  color: #37523d;
  border-bottom: 1px solid transparent;
  margin-right: 10px;
}

.layer2-wrapper a:hover {
  border-bottom: 1px solid #000;
  color: #000;
}
