/* 自訂css --------------------------------------------------*/

.wrapper {
  width: 1000px;
  margin: 0 auto;
  color: #354e3b;
  font-size: 1rem;
  display: flex;
  justify-content: space-around;
}

.wrapper .menu h2 {
  border: 1px solid #354e3b;
  color: #fff;
  background-color: #354e3b;
  width: 200px;
  padding: 15px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bolder;
}

.wrapper .menu li {
  border-left: 1px solid #e7eeea;
  border-right: 1px solid #e7eeea;
  border-bottom: 1px solid #e7eeea;
  width: 200px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bolder;
}

.wrapper .menu li a {
  padding: 15px;
  display: block;
  width: 100%;
  color: #354e3b;
  text-decoration: none;
  /* border: 1px solid #354e3b; */
}

.wrapper .menu li a:hover {
  background-color: #e7eeea;
}

.wrapper .product-list {
  /* border: 1px solid #354e3b; */
  flex-wrap: wrap;
  display: flex;
}

.product-list .product {
  margin: 0 0 20px 20px;
  border: 1px solid #e7eeea;
}

.product-list .product div {
  display: flex;
  justify-content: space-between;
}

.product-list .product div p {
  padding: 10px 15px;
  display: block;
  width: 100%;
  color: #354e3b;
  text-decoration: none;
  text-align: center;
  line-height: 2rem;
  font-weight: bolder;
}

.product-list .product div .product-title {
  border-right: 1px solid #e7eeea;
}

.product-list .product a {
  display: block;
  padding: 15px;
  display: block;
  width: 100%;
  color: #354e3b;
  background-color: #e7eeea;
  text-decoration: none;
  text-align: center;
  line-height: 2rem;
  font-size: 1.6rem;
  font-weight: bolder;
}

.product-list .product a:hover {
  color: #e7eeea;
  background-color: #354e3b;
}
